body {
  background-color: #FFEECC;
}

:root {
  display: flex;

  justify-content: center;
}

li {
  color: #FEBBCC;
  list-style: none;
  font-size: 20px;
}

.dogName {
  color: #FFCCCC;
  font-size: 28px;
}

.dogList {
  font-size: 20px;
  color: #FEBBCC;
}

#dogList {
  background-color: #FFDDCC;
}
